.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
}

.input {
  height: 30px;
  margin-bottom: 5px;
}

.dropdown {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  width: 200px;
  max-height: 300px;
  overflow: scroll;
  border: solid 1px;
}

.dropdown-item {
  flex: 1;
  width: 100%;
  min-height: 15px;
  border-bottom: solid 1px;
  padding: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-item:hover {
  background: darkgray;
}
