.container {
  display: inline-block;
  position: relative;
}

.anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: black;
  color: white;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.popover {
  position: absolute;
  display: flex;
  opacity: 0;
  flex-direction: column;
  top: 0px;
  left: 35px;
  padding: 5px;
  background-color: darkgray;
  color: black;
  width: 300px;
  transition: opacity 1s;
}

.container:hover .popover {
  opacity: 1;
}

.tooltip-title {
  margin-bottom: 3px;
  font-size: medium;
  font-weight: bold;
}

.tooltip-info {
  margin-bottom: 3px;
  font-size: small;
}

.tooltip-link {
  display: flex;
  flex-direction: row-reverse;
}
